@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-sora);
}

@media (max-width: 299px) {
  .nav-text-below-300 {
    font-size: 20px;
  }
  .nav-image-below-300 {
    max-width: 26px;
    height: auto;
  }
}


